<footer id="Site-Footer">
  <nav class="support">
      <a href="irc://irc.freenode.net:6667/lincolnloop" class="wicon"><i class="icon icon-comments"></i> <span>#lincolnloop</span></a>
      <a href="https://twitter.com/botbotme" class="wicon"><i class="icon icon-twitter"></i> <span>@BotBotme</span></a>
      <a href="mailto:beep@botbot.me" class="wicon"><i class="icon icon-envelope"></i> <span>beep@botbot.me</span></a>
      <a href="https://www.patreon.com/botbotme" class="wicon"><i class="icon icon-money"></i> <span>Patreon</span></a>
      <a href="https://github.com/BotBotMe" class="wicon"><i class="icon icon-github-alt"></i> <span>Source</span></span></a>
  </nav>

  <nav class="misc-links">
  	&copy; {{ now().strftime("%Y") }} <a href="http://lincolnloop.com">Lincoln Loop</a>
  	<a href="/terms/">Terms</a>
      <a href="/privacy/">Privacy</a>
  </nav>
</footer>
