<footer id="Site-Footer">
  <nav class="support">
      <h5>Find Us</h5>
      <a href="irc://irc.freenode.net:6667/lincolnloop" class="wicon"><i class="icon icon-comments"></i> <span>#lincolnloop</span></a>
      <a href="https://twitter.com/botbotme" class="wicon"><i class="icon icon-twitter"></i> <span>@BotBotme</span></a>
      <a href="mailto:beep@botbot.me" class="wicon"><i class="icon icon-envelope"></i> <span>beep@botbot.me</span></a>
      <a href="https://gratipay.com/BotBotme/" class="wicon"><i class="icon icon-gittip"></i> <span>Gratipay</span></a>
  </nav>

  <nav class="misc-links">
  	&copy; {% now "Y" %} <a href="http://lincolnloop.com">Lincoln Loop</a>
  	<a href="/terms/">Terms</a>
      <a href="/privacy/">Privacy</a>
  </nav>
</footer>
