{% set next=request.GET.get('next', request.get_full_path()) %}
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{{ provider.get_login_url(request, openid=brand.openid_url, process=process, next=next) }}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
     href="{{ provider.get_login_url(request, process=process, next=next) }}">{{provider.name}}</a>
</li>
{% endfor %}

