django==1.6.1

south==0.8.4
pytz
psycopg2==2.5.2
dj-database-url==0.2.2
django-hstore==1.2.1
markdown==2.3.1
redis==2.9.1
webassets==0.9.0
django-assets==0.8.0
    yuicompressor==2.4.8
honcho==0.5.0

djorm-ext-pgfulltext==0.9.0
djorm-ext-pgarray==0.9.0

python-social-auth==0.1.20
    # python-openid==2.2.5
    # waiting for https://github.com/openid/python-openid/pull/39
    https://github.com/lincolnloop/python-openid/tarball/master

# Needs pinning
-e git+https://github.com/lincolnloop/django-jsonit.git#egg=jsonit
-e git+https://github.com/lincolnloop/django-launchpad.git#egg=launchpad

# For plugins
-e git+https://github.com/BotBotMe/botbot-plugins.git#egg=botbot-plugins
