@import "screen.less";

label[for="use-js"], #use-js, .message, .success { display: none; }

textarea {
  width: 420px;
  height: 105px;
}

.container { 
	margin-top: 60px;
	width: 760px;
	position: relative;
}

.logo-standalone { 
	float: left;
}

.tag-line { 
	color: @highlight2;
	font-size: 60px; 
	font-weight: bold;
	line-height: 68px;
	text-shadow: 0 1px 0 #fff;
	margin: 20px 0 40px;
	
	em { font-family: @serifFontFamily; color: @highlight1; }
}

p { text-shadow: 0 1px 0 #fff; }

.introduction {
	font-size: 20px; line-height: 28px; margin-top: 0;
}

.teaser-form {
	.border-radius(12px);
	background: #fff;
	border: 2px solid #f4f4f4;
	padding: 20px;
	margin-top: 40px;
	margin-left: -20px;
	width: 410px;

	&.error {
		border-color: @highlight1;
	}

	.failure strong { color: @highlight1; }

	fieldset { margin: 0; }
}

.success p:last-of-type { margin-bottom: 0; }

.teaser-form .field {
	display: inline-block;
	margin-right: 10px;

	input { width: 290px; }
}

.btn { margin-top: -9px; }

h2 { 
	font-size: 28px; 
	line-height: 1; 
	color: @highlight2; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 20px; 
	margin-bottom: 20px;
}

.disclaimer { 
	font: 13px @serifFontFamily; 
	color: #777; 
	display: inline-block; 
	vertical-align: middle; 
}

article { margin-left: 200px; }

.preview-box {
	h3 { font-size: 22px; line-height: 30px; margin-bottom: 10px; color: @darkContrast2; }
	p { font-size: 16px; }
}

#Site-Footer { 
	margin-right: 0; 
	margin-top: 40px;
	padding: 0;
	position: static;

	.support { margin-bottom: 10px; float: none; }
	.support h5 { display: block; margin-bottom: 4px; }

	.copyright { float: none; }
}