.settings-content {
    background: #fff;
    padding: 50px;
    -webkit-border-radius: 0 0 .25rem .25rem;
    -moz-border-radius: 0 0 .25rem .25rem;
    border-radius: 0 0 .25rem .25rem;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

.settings-header {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
}

.settings-intro {
    margin-bottom: 40px;
}

.label-active {
    background: #7fc07b;
}
.label-active {
    background: #a9c0a7
}

.messages {
    margin: 0;
}

.public-channels {
    li { display: inline;}
}

.btn {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
  background-image: none;
  border: none;
  box-shadow: none;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: #ee632a;
}
