{% extends "base.html" %}
{% block head_title %}Documentation for {{ channel }} {{ super() }}{% endblock %}
{% block body_class %}help-view{% endblock %}

{% block content %}

<p><a href="{{ channel_url(channel, 'log_current') }}">&larr; Return to <strong>{{ channel }}</strong></a>

<h1>Help for {{ channel }}</h1>

<article>
{% for plugin in channel.plugins.all() %}
<h3 id="{{ plugin.slug }}">{{ plugin }}</h3>
<div class="docs">{{ plugin_docs(plugin, channel)|safe }}</div>
{% endfor %}
</article>

{% endblock content %}
