{%- for line in message_list %}
{%- if line.timestamp.date() != last_date|default('') %}
    {%- if show_first_header or not loop.first %}
      <h3 class="utc" id="date-{{ line.timestamp.strftime("%Y%M%d") }}" data-date="{{ line.timestamp.strftime("%Y%M%d") }}"><span>{{ line.timestamp.strftime("%F %j%S, %Y") }}</span></h3>
    {%- endif %}
{%- endif %}
    <li id={{ line.pk }} class="{% if line.action %}action {% endif %}{% if line.command %}{{ line.command.lower() }}{% endif %} {% if line.pk == highlight %}highlight{% endif %}" data-nick="{{ line.nick }}" data-type="{% if line.command == "PRIVMSG" %}message{% else %}info{% endif %}">

    <a href="{{ line.get_absolute_url() }}" class="moment" rel="nofollow">
        <time class="hide" datetime="{{ line.timestamp.isoformat() }}">{{ line.timestamp.strftime("%-H:%M %p") }}</time>
    </a>
    {%- if line.action %}
        <div class="actor">{{ line.nick }} {{ bbme_urlizetrunc(line.text|e, 50) }}</div>
    {%- elif line.command == "PRIVMSG" %}
            {%- if line.nick %}
                {%- if line.nick != last_nick|default('') %}
                    <div class="nick-color{{ line.get_nick_color() }} actor">{{ line.nick }}</div>
                {%- endif %}
                {%- set last_nick = line.nick %}
                <div class="message">{{ bbme_urlizetrunc(line.text|e, 50) }}</div>
            {%- else %}
                <div class="message"><em>{{ bbme_urlizetrunc(line.text|e, 50) }}</em></div>
            {%- endif %}
    {%- else %}
        {# JOIN, PART, QUIT, NICK, etc #}
        <div class="info">{{line}}</div>
    {%- endif %}
    </li>

{%- set last_date = line.timestamp.date() %}
{% endfor %}
