{% extends "base.html" %}

{% block head_title %}IRC Logs for {{ channel.name }} {{ super() }}{% endblock %}
{% block body_class %}log-view{% if big %} big{% endif %}{% if request.GET.framed %} framed{% endif %}{% endblock %}

{% block content_outer %}
    <header id="Log-Header">
        <a href="/" class="main-btn">
          <i class="icon icon-list-ul"> </i>
        </a>
        <div class="log-title">
          <h1><a href="{{ channel_url(channel, 'log_current') }}">{{ channel.name }}</a></h1>
          {% if not channel.is_public %}<i class="icon icon-large icon-lock" title="This is a private channel"></i>{% endif %}
          <span class="divider">/</span>
          <h4 class="date"></h4>
        </div>

        <nav class="mobile-nav">
          {# <a href="#Search" class="nav-toggle"><i class="icon-search icon-large"></i></a> #}
          <a href="#Log-Nav" class="nav-toggle"><i class="icon-calendar icon-large"></i></a>
        </nav>

        <form id="Search" method="get" class="well form-search" action="{{ channel_url(channel, 'log_search') }}">
            {{ search_form.q }}
            <button class="btn" type="submit"><i class="icon icon-search"></i> Search</button>
        </form>

        <nav class="channel-nav">
          {% if show_kudos %}
          <a href="{{ channel_url(channel, 'kudos') }}" class="wicon" title="Helpful individuals in this channel">
            <i class="icon-gift icon-large"></i>
            <span>Kudos</span>
          </a>
          {% endif %}

          <a href="{{ channel_url(channel, 'help_bot') }}" class="wicon" title="A list of commands for BotBot in this channel">
            <i class="icon-book icon-large"></i>
            <span>Channel Docs</span>
          </a>
          <label class="noise-toggler extra" title="Hides parts and joins">
            <input id="filter" value="true" type="checkbox" name="only_chat" />
            <span>Hide joins/parts</span>
          </label>
        </nav>
    </header>

    <div id="Content" class="container-fluid">
      {% block content %}
      <!-- Current users: {{size}} -->
      <div id="Log-Container">
        <article>
            <span id="first"></span>
            <ul id="Log-Prep-Prev" class="log"></ul>
            <ul id="Log-Prep-Next" class="log"></ul>
            <ul id="Log" class="log unstyled" data-source="{{ channel.get_eventsource_url() }}" data-next="{{ next_page }}" data-previous="{{ prev_page }}" {% if newest_first %}data-order="reversed"{% endif %} data-current="{{ is_current }}" {% if q %}data-search-term="{{ q }}"{% endif %}>
                {% include "logs/log_display.html" %}
            </ul>
            <span id="last"></span>
        </article>

        {% if timeline %}
        <nav class="timeline-navigation" id="Log-Nav">
          <ul>
              {% if timeline|length > 3 %}
              <li class="older"><a href="#">Older</a></li>
              {% endif %}
              {% for year, months in timeline.items() %}
                  <li class="year"><a href="#{{ year }}"><span>{{ year }}</span></a>
                    <ul class="month-list">
                      {% for first_of_month in months %}
                        <li class="month"><a class="jump-date" data-date="{{ first_of_month.strftime('%Y%m%d') }}" href="{{ channel_url(channel, 'log_day', kwargs=dict(year=first_of_month.year, month=first_of_month.strftime('%m'), day=first_of_month.strftime('%d'))) }}"><span>{{ first_of_month.strftime("%B") }}</span></a></li>
                      {% endfor %}
                      {# Account for times when the start of the last month is after the week dates below. The ".5" is added to ensure a date never matches it.  #}
                      {% if loop.last %}
                        <li class="month"><a class="jump-date" data-date="{{ last_month.adjusted.strftime('%Y%m%d') }}.5" href="{{ channel_url(channel, 'log_day', kwargs=dict(year=last_month.real.year, month=last_month.real.strftime('%m'), day=last_month.real.strftime('%d'))) }}"><span>{{ last_month.real.strftime("%B") }}</span></a></li>
                      {% endif %}
                    </ul>
                  </li>
              {% endfor %}
              <li><a class="jump-date" data-date="{{ last_week.strftime('%Y%m%d') }}" href="{{ channel_url(channel, 'log_day', kwargs=dict(year=last_week.year, month=last_week.strftime('%m'), day=last_week.strftime('%d'))) }}"><span>Last Week</span></a></li>
              <li><a class="jump-date" data-date="{{ this_week.strftime('%Y%m%d') }}" href="{{ channel_url(channel,'log_day', kwargs=dict(year=this_week.year, month=this_week.strftime('%m'), day=this_week.strftime('%d'))) }}"><span>This Week</span></a></li>
              <li><a class="jump-date current" data-date="99999999" href="{{ channel_url(channel, 'log_current') }}"><span>Current</span></a></li>
          </ul>
        </nav>
        {% endif %}
      </div>
      {% endblock content %}
    </div>
{% endblock content_outer %}

{% block extra_head %}
<style type="text/css">
  .log li[data-nick='{{ request.user.username }}'] .actor { color: #757500; }
</style>

{% if highlight %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@botbotme">
<meta name="twitter:title" content="{{ highlight.nick }} in {{ channel.name }}">
<meta name="twitter:description" content="{{ bbme_urlizetrunc(highlight.text, 50) }}">
{% endif %}

<link rel="canonical" href="{{ current_page }}"/>
{% endblock %}
