{% extends "base.html" %}

{% block head_title %}Permission Denied {{ block.super }}{% endblock %}

{% block header %}{% endblock %}

{% block body_class %}error-view{% endblock %}

{% block content %}
<div class="not-found">
    
   	<header>
   		<object data="{{ STATIC_URL }}img/evil-logo-large-red.svg" type="image/svg+xml" class="brand"></object>
    	<h1>Whoops! <strong>403</strong></h1>
	</header>

	<section>
		<h2>You do not have access to that page.</h2>

	    <p class="explanatory"><a href="/">How about we head to the homepage?</a></p>
	</section>
</div>
{% endblock %}
