{% extends "base.html" %}

{% block head_title %}Page Not Found {{ super() }}{% endblock %}

{% block header %}{% endblock %}

{% block body_class %}error-view{% endblock %}

{% block content %}
<div class="not-found">
    <header>
        <object data="{{ static("img/evil-logo-large-red.svg") }}" type="image/svg+xml" class="brand"></object>
        <h1>Oh snap! <strong>404</strong></h1>
    </header>

    <section>
        <h2>Bummer, we can't find that page.</h2>

        <p class="explanatory">This is totally a <strong>bad case of the 404s</strong>. But don't worry, <em>we're in this together</em>. </p>

        <p class="explanatory"><a href="/">How about we head to the homepage?</a></p>
    </section>
</div>
{% endblock %}
