{% extends "launchpad/signup.html" %}

{% block header %}
    <h1 class="tag-line">
        Why donate to BotBot.me?
    </h1>

    <p class="introduction">BotBot.me is a <a href="http://lincolnloop.com">Lincoln Loop</a> service that we run completly free of charge for you and others.
    </p>
    <p class="introduction">Donating to the service will help us keep it the way it is: a beautiful, real-time and ad-free IRC logging service, and allows us to continue to support and improve it.</p>
{% endblock %}

{% block content %}
    <div class="donate-form">
        <p>
            <input id="donate-stripe-amount" type="text" placeholder="$0" pattern="^\d*(\.\d{2}$)?">
            <button id="donate-stripe" class="btn btn-primary">Donate</button>
        </p>
        <!--
        <p>or</p>
        <p>
            <input id="donate-bitcoin-amount" type="text" name"ammount" placeholder="$0"> <button id="donate-bitcoin" class="btn btn-primary">Donate Bitcoins</button>
        </p>
        -->
    </div>
    <div class="donate-form-thanks">
        <p class="introduction">Thank you for your donation!</p>
    </div>
{% endblock %}

{% block "extra_js" %}
    <script src="{{ STATIC_URL }}js/donate.js"></script>
{% endblock %}