{% extends "base.html" %}

{% block content %}
    <section class="preview-box">
        <h3>Featured channels</h3>
        <ul class="channel-list">
        {% cache 600 "signup-featured-channels-list" %}
        {% for channel in featured_channels %}
            <li><a href="{{ channel_url(channel, 'log_current') }}">{{ channel.name }}</a></li>
        {% endfor %}
        {% endcache %}
        </ul>
    </section>

    <ul class="channel-list-compact">
    {% cache 600 "signup-public-channels" %}
    {% for channel in public_not_featured_channels %}
        <li><a href="{{ channel_url(channel, 'log_current') }}">{{ channel.name }}</a></li>
    {% endfor %}
    {% endcache %}
    </ul>
{% endblock content %}
