{% extends "base.html" %}

{% block head_title %}Terms of Service {{ super() }}{% endblock %}

{% block body_class %}tos{% endblock %}

{% block content %}
<h1>Privacy</h1>

<p>Our full privacy policy is available on the <a href="http://lincolnloop.com/privacy/">Lincoln Loop website</a>. A few notes specific to BotBot.me:</p>

<ul>
<li>We always receive consent from a channel operator to display logs publicly.<br />If you have concerns about a specific channel's logs on BotBot.me, please contact a channel operator.</li>
<li>If you wish to opt-out of displaying <em>your</em> comments on BotBot.me, <a href="mailto:beep@botbot.me">email us</a> and we'll make it happen.</li>
</ul>

{% endblock content %}
