#IE-Warning { 
	display: block; position: fixed; z-index: 3000; top: 6px; left: 50%; margin-left: -250px; background: #000; color: #fff; width: 500px; padding: 6px; font-size: 12px; line-height: 20px; text-align: center; 
}