/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #0088cc;
}

a:hover {
  color: #ee632a;
}

/* Header */
.header {
  text-align: center;
  background: #3a3e3f;
}

.back-to-botbot {
  padding-top: 20px;
  text-align: left;
}

.botbot-link {
  border-radius: 5px;
  color: #d8d8d8;
  font-size: 16px;
}

.fa-arrow-left {
  margin: 0 10px;
}

.botbot-link:hover {
  color: white;
}

.title {
  margin-top: 0;
}

.header-text {
  padding: 20px;
  font-size: 22px;
  color: white;
  min-width: 250px;
}

.tag-line {
  font-size: 19px;
  color: gray;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

.bot-icon {
  margin: 20px auto;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

.lightening {
  opacity: 0;
}

.git-details {
  padding: 30px 0 40px 0;
}

.source-link {
  padding: 10px 13px;
  color: white;
  border: 4px solid white;
  border-radius: 4px;
  font-size: 18px;
}

.source-link:hover {
  border-color: #ee632a;
}

.source-link .fa-github-alt {
  margin-left: 8px;
  font-size: 30px;
  vertical-align: middle;
}

/* logo animation in header */
.lightening {
  -webkit-animation: bolt 3s infinite;
  animation: bolt 3s infinite;
}

@-webkit-keyframes bolt {
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes bolt {
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

/* Questions */
.question-section {
  padding: 60px 30px;
  text-align: center;
  background: #ededed;
}

.icon {
  opacity: .7;
  border: 6px solid #3a3e3f;
  border-radius: 5px;
  width: 150px;
}

.question-section .category-title {
  color: #ee632a;
}

.contain-category {
  margin: 60px auto;
}

.question-list {
  margin: 0;
  padding: 0;
}

.question-list .question {
  padding: 10px 0;
  list-style-type: none;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
}

.place-hold {
  display: none;
}

/* Answers */
.answer-section {
  padding: 60px 0;
}

.answer {
  margin-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 30px;
}

.answer .repeat-question {
  margin: 0;
  color: #ee632a;
}

.answer .answer-details {
  padding-top: 15px;
  margin: 0;
  color: #333333;
  font-size: 16px;
}

.answer .answer-details:last-of-type {
  padding-bottom: 15px;
}

.answer-section .example {
  color: gray;
  word-break: break-word;
  -ms-word-break: break-all;
  hyphens: auto;
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
}

.example:before {
  content: "Example: ";
}

/* Back to top  */
.to-top {
  font-size: 16px;
  opacity: .5;
}

.to-top .fa-arrow-circle-up {
  margin-left: 15px;
  font-size: 20px;
}

.to-top:hover {
  color: #0088cc;
  opacity: 1;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #3a3e3f;
}

.footer .fa-twitter-square,
.footer .fa-github-square {
  float: right;
  margin-top: 20px;
  font-size: 45px;
  color: white;
}

.footer .fa-twitter-square:hover,
.footer .fa-github-square:hover {
  color: #ee632a;
}

.fa-github-square {
  margin-right: 20px;
}

.contain-social {
  display: inline-block;
  width: 300px;
}

.crafted-by {
  float: left;
}

/* Begin media queries */
@media (min-width: 800px) { 
  .question-section {
    padding: 60px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .contain-category {
    margin: 30px 15px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    width: 280px;
  }
  .contain-questions {
    width: 280px;
  }
  .question-list {
    padding: 0 15px;
  }
  .question-list .question {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 2px solid #ededed;
  }
  .question-list .question:last-child {
    border-bottom: none;
  }
  .icon {
    border: none;
    width: 100px;
  }
  .answer .answer-details {
    font-size: 18px;
  }
  .answer .repeat-question {
    font-size: 20px;
  }
  .contain-social {
    width: 400px;
  }
  .fa-github-square {
    margin-right: 40px;
  }
  .footer .fa-twitter-square,
  .footer .fa-github-square {
    font-size: 55px;
  }
}

@media (min-width: 1000px) { 
  .answer-section {
    margin: 0 auto;
    width: 900px;
  }
}

@media (min-width: 1165px) { 
  .place-hold {
    display: inline-block;
  }
  .full-bot {
    margin: 60px 0 0 -10px;
    opacity: .3;
  }
}

