/*
 * Donation styles
 * TODO: Eventually add this into LESS
 */

.sidebar {
    float: left;
    width: 172px;
    text-align: center;
}

article .donate {
    margin-bottom: 10px;
}

.donate-form input {
    width: 120px;
    text-align: right;
}

.donate-form input.error {
    color: red;
    border-color: red;
}

.donate-form-thanks {
    display: none;
    color: #ee632a;
}

#donate-amount {
    width: 120px;
    text-align: right;
}

#donations-powered-by {
    color: #AAA;
    font-size: 0.9em;
}