{% extends "base.html" %}
{% load verbatim %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block content %}

  <h1>Manage {{ chatbot.connection.rooms }}</h1>

  <form class="signup form-horizontal" id="chatbot" method="post" action=".">
    {% csrf_token %}

    <fieldset>
      <legend>Connection Information</legend>
      {% for field in form %}
        {% if field.name == "is_public" or field.name == "is_active" or field.name == "identifiable_url" %}
          {% include "includes/checkbox.html" %}
        {% else %}
          {% include "includes/field.html" %}
        {% endif %}
      {% endfor %}
    </fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Save" %} &raquo;</button>
    </div>
  </form>

{% endblock content %}
