{% extends "account/base.html" %}
{% load verbatim %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block extra_head %}{% endblock %}

{% block content %}

<header class="page-header account-header">
  {# <h1 class="page-title">Manage {{ chatbot.connection.rooms }}</h1> #}
  <h1 class="page-title">Log a Channel</h1>
</header>

<form class="account-body signup" id="chatbot" method="post" action=".">
  {% csrf_token %}
  
  <div class="account-body">
    {% for field in form %}
      {% if field.name == "is_public" or field.name == "is_active" or field.name == "identifiable_url" %}
        {% include "includes/checkbox.html" %}
      {% else %}
        {% include "includes/field.html" %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </div>
</form>

{% endblock content %}
