{% extends "base.html" %}
{% load verbatim channel_url assets %}

{% block extra_head %}
  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="page-header clearfix">
        <h1>Manage {{ chatbot.connection.room }}</h1>
        {% if membership.is_owner  %}
          <a href="{% channel_url channel 'delete_channel' %}" class="btn btn-danger pull-right">
            <i class="icon-plus-sign icon-white"> </i> Delete</a>
        {% endif %}
    </div>

    <form action="." method="post" id="chatbot">{% csrf_token %}

    <fieldset>
      <legend>Connection Information</legend>
      {% for field in form %}
        {% if field.name == "is_public" or field.name == "is_active" or field.name == "identifiable_url" %}
          {% include "includes/checkbox.html" %}
        {% else %}
          {% include "includes/field.html" %}
        {% endif %}
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>BotBot Abilities</legend>
      <p class="text-info">What services or features should your BotBot provide?</p>

      {% for field in plugin_form %}
        {% include "includes/field.html" with field=field %}
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Users</legend>

      <div id="backbone-users">
        {{ users_form.errors }}
        {# To Do: send invitations if the user doesn't exist? #}

        <div id="input-el" style="display:none"></div>

        <div class="field">
          <label for="backbone-user-search">Email address of user</label>
          <input type="email" id="backbone-user-search" name="users" placeholder="somedude@groovysauce.com" data-url="{% url 'suggest_users' %}" />
        </div>

        <div id="backbone-user-list">
        </div>
      </div>
    </fieldset>

    <script id="user-list-template" type="text/x-handlebars-template">
    {% verbatim %}
       {{#each users }}
       <li>
       {{ this.email }} {{#unless this.admin}}<a data-id="{{ this.id }}" class="delete-user" href>(delete)</a>{{/unless}}
       </li>
       {{/each }}
    {% endverbatim %}
    </script>

    <script id="user-input-template" type="text/x-handlebars-template">
    {% verbatim %}
      <select id="usrs-users" name="usrs-users" multiple="multiple">
       {{#each users }}
        <option selected="true" data-admin="{{ this.admin }}" value="{{ this.id }}">{{ this.email }}</option>
       {{/each }}
      </select>
    {% endverbatim %}
    </script>

    <script id="initial-users" type="application/json">
    [
    {% for membership in users_form.channel.membership_set.all %}
        {{ membership.to_json|safe }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]
    </script>

    <p class="actions">
      <button type="submit" class="btn btn-primary">Save</button>
    </p>
  </form>
{% endblock content %}

{% block extra_js %}
{{ block.super }}
{% assets filters="yui_js", output="gen/manage_vendor.js", "js/vendor/handlebars.js", "js/vendor/jquery-ui-1.9.1.custom.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="yui_js", output="gen/manage.js", "js/app/manage/default.js", "js/app/manage/models.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock extra_js %}
