{% extends "landing/base.html" %}

{% block content %}
    <form action="." method="post">{{ csrf_input }}
    <fieldset>
      <legend>Channel Request</legend>
      <p>Want BotBot to log your channel, fill out this simple form to get the ball rolling.</p>
      {% for field in form %}
        {% if field.name == "op" %}
          {% include "includes/checkbox.html" %}
        {% elif field.name == "connection" %}
          {% with hide_optional=True %}
          {% include "includes/field.html" %}
          {% endwith %}
        {% else %}
          {% include "includes/field.html" %}
        {% endif %}
      {% endfor %}
    </fieldset>

    <p class="actions">
      <button type="submit" class="btn btn-primary">Send Request</button>
    </p>
  </form>
{% endblock %}

{% block tail %}
<script type="text/javascript">
  var $connection = $("#id_connection").parents('.field');
  var $server = $('#id_server');
  $server.change(function () {
    if ($(this).val() === "new") {
      $connection.show();
    } else {
      $connection.hide();
    }
  });

  if ($server.val() !== "new") {
    $connection.hide()
  }
</script>
{% endblock %}
