{% extends "base.html" %}
{% block content %}
<form action="" method="post">{% csrf_token %}

{{ form.non_field_errors }}

{% with field=form.username %}
<div class="field">
    <label for="id_username">Username</label>
  {{ field }}
  {{ field.errors }}
</div>
{% endwith %}

{% with field=form.password %}
<div class="field">
  {{ field.label_tag }}
  {{ field }}
  {{ field.errors }}
</div>
{% endwith %}

<p><button type="submit" class="btn btn-info">Log In</button>
<a href="{% url 'django.contrib.auth.views.password_reset' %}" class="forgot">Forgotten Password?</a></p>
{% comment %}
<p class="third-party">
    <small>Log in with</small>
<a href="{% url 'socialauth_begin' 'facebook' %}" class="btn fb-btn">Facebook</a>
<a href="{% url 'socialauth_begin' 'google' %}" class="btn gg-btn">Google</a>
</p>
{% endcomment %}
</form>
{% endblock content %}