{% extends "base.html" %}

{% block content %}

{% if "error" in request.GET %}
<div class="alert alert-error">Sorry, but we couldn't log you in. This may mean that an account hasn't been created for you yet.</div>
{% endif %}
<form action="" method="post">{% csrf_token %}

{{ form.non_field_errors }}

{% with field=form.username %}
<div class="field">
    <label for="id_username">Username</label>
  {{ field }}
  {{ field.errors }}
</div>
{% endwith %}

{% with field=form.password %}
<div class="field">
  {{ field.label_tag }}
  {{ field }}
  {{ field.errors }}
</div>
{% endwith %}

<p><button type="submit" class="btn btn-info">Log In</button>
<a href="{{ url('django.contrib.auth.views.password_reset') }}" class="forgot">Forgotten Password?</a></p>
<p class="third-party">
    <small>Log in with</small>
    <a href="{{ url('social:begin', 'google') }}" class="btn"><i class="icon icon-google-plus"></i> Google</a>
</p>
</form>
{% endblock content %}
