{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block head_title %}Settings {{ block.super }}{% endblock %}
{% block account_active %}active{% endblock %}

{% block content %}
	<div class="settings-header">
		<h1>Settings</h1>
	</div>

    <div class="settings-intro">
        <p>Give yourself a username so other users can find you. If it's available, use the same username you use in your chatroom.</p>
    </div>

    <form class="manage form-horizontal" id="manage_form" method="post" action=".">
        {% csrf_token %}
    	{% for field in form %}
        	{% include "includes/field.html" with field=field %}
        {% endfor %}
        <div class="form-actions">
        	<button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock content %}
