{% extends "base.html" %}

{% block body_class %}{{ block.super }} account-view{% endblock %}

{% block content_outer %}
{% if messages %}
<div class="messages-wrapper">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %}
    class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<main class="page-main">
  {% include "includes/account_nav.html" %}

  <div class="account-content">
    {% block content %}{% endblock %}
  </div>
</main>
{% endblock %}
