{% extends "base.html" %}

{% block body_class %}{{ super() }} account-view{% endblock %}

{% block content_outer %}
{% if messages %}
<div class="messages-wrapper">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %}
    class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<main class="page-main">
  {% block outer_account_nav %}
  {% if request.user.is_authenticated() %}
  <nav class="account-nav {% block account_nav %}{% endblock %}">
    <a
      href="{{ url('settings_dashboard') }}"
      class="nav-item nav-dashboard {% if breadcrumb == 'dashboard' %}is-active{% endif %}">
      <span class="nav-item-label">
        <i class="icon-home"></i>Dashboard
      </span>
    </a>

    <a
      href="{{ url('account_channels') }}"
      class="nav-item nav-channels {% if breadcrumb == 'my_channels' %}is-active{% endif %}">
      <span class="nav-item-label">
        <i class="icon-th"></i>My Channels
      </span>
    </a>

    <a
      href="{{ url('settings_account') }}"
      class="nav-item nav-account {% if breadcrumb == 'account' %}is-active{% endif %}">
      <span class="nav-item-label">
        <i class="icon-user"></i> Account
      </span>
    </a>
  </nav>
  {% endif %}
  {% endblock %}

  <div class="account-content">
    {% block content %}{% endblock %}
  </div>
</main>
{% endblock %}
