{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block span_class_left %}span1{% endblock %}
{% block span_class_right %}span8{% endblock %}
{% block content %}
  <div class="settings-header clearfix">

    <h1>{% trans "Confirm E-mail Address" %}</h1>

    {% user_display email_address.user as user_display %}

    <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

  </div>
{% endblock %}
