{% extends "account/base.html" %}

{% block head_title %}{{ _("Account") }}{% endblock %}

{% block span_class_left %}span1{% endblock %}
{% block span_class_right %}span8{% endblock %}
{% block content %}
  <div class="settings-header clearfix">
    <h1>{{ _("E-mail Addresses") }}</h1>
    {% if request.user.emailaddress_set.all() %}
    <p>{{ _('The following e-mail addresses are associated with your account:') }}</p>

    <form action="{{ url('account_email') }}" class="email_list" method="post">
    {{ csrf_input }}
    <fieldset class="blockLabels">

      {% for emailaddress in request.user.emailaddress_set.all() %}
    <div class="ctrlHolder">
      <label for="email_radio_{{ loop.index }}" class="{% if emailaddress.primary %}primary_email{% endif %}">

      <input id="email_radio_{{ loop.index }}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{% endif %} value="{{ emailaddress.email }}"/>

    {{ emailaddress.email }}
        {% if emailaddress.verified %}
        <span class="verified">{{ _("Verified") }}</span>
        {% else %}
        <span class="unverified">{{ _("Unverified") }}</span>
        {% endif %}
          {% if emailaddress.primary %}<span class="primary">{{ _("Primary") }}</span>{% endif %}
    </label>
    </div>
      {% endfor %}

    <div class="buttonHolder">
          <button class="secondaryAction" type="submit" name="action_primary" >{{ _('Make Primary') }}</button>
          <button class="secondaryAction" type="submit" name="action_send" >{{ _('Re-send Verification') }}</button>
          <button class="primaryAction" type="submit" name="action_remove" >{{ _('Remove') }}</button>
    </div>

    </fieldset>
    </form>

    {% else %}
    <p><strong>{{ _('Warning:') }}</strong> {{ _("You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.") }}</p>

    {% endif %}


      <h2>{{ _("Add E-mail Address") }}</h2>

      <form method="post" action="{{ url('account_email') }}" class="add_email">
          {{ csrf_input }}
          {{ form.as_p() }}
          <button name="action_add" type="submit">{{ _("Add E-mail") }}</button>
      </form>
  </div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{{ _('Do you really want to remove the selected e-mail address?') }}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
