{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block span_class_left %}span1{% endblock %}
{% block span_class_right %}span8{% endblock %}
{% block content %}
  <div class="settings-header clearfix">
    <h1>{{ _("Change Password") }}</h1>

    <form method="POST" action="{{ url('account_change_password') }}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{{ _("Change Password") }}</button>
    </form>
  </div>
{% endblock %}
