{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block span_class_left %}span1{% endblock %}
{% block span_class_right %}span8{% endblock %}
{% block content %}
  <div class="settings-header clearfix">
    <h1>{% if token_fail %}{{ _("Bad Token") }}{% else %}{{ _("Change Password") }}{% endif %}</h1>

    {% if token_fail %}
      <p>{% trans passwd_reset_url=url('account_reset_password') %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endtrans %}</p>
    {% elif form %}
          <form method="POST" action=".">
              {% csrf_token %}
              {{ form.as_p() }}
              <input type="submit" name="action" value="{{ _("change password") }}"/>
          </form>
    {% else %}
          <p>{{ _('Your password is now changed.') }}</p>
    {% endif %}
  </div>
{% endblock %}
