{% extends "account/base.html" %}

{% block head_title %}{{ _("Password Reset") }}{% endblock %}

{% block span_class_left %}span1{% endblock %}
{% block span_class_right %}span8{% endblock %}
{% block content %}
  <div class="settings-header clearfix">
    <h1>{{ _("Password Reset") }}</h1>

    {% if user.is_authenticated() %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{{ _("We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.") }}</p>
  </div>
{% endblock %}
