{% extends "account/base.html" %}

{% block head_title %}{{ _("Sign Up") }}{% endblock %}
{% block dashboard_active %}{% endblock %}

{% block content %}
  <header class="page-header account-header">
    <h1 class="page-title">{{ _("Sign Up") }}</h1>
    <p>{% trans login_url=login_url %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endtrans %}</p>
  </header>

  <form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">
    {% csrf_token %}

    <div class="account-body">
      {% with form=form, layout="vertical" %}
      {% include "bootstrap_toolkit/form.html" %}
      {% endwith %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{ _("Sign Up") }}</button>
    </div>
  </form>

{% endblock %}
