{% extends "account/base.html" %}

{% load bootstrap_toolkit %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block dashboard_active %}{% endblock %}

{% block content %}
  <header class="page-header account-header">
    <h1 class="page-title">{% trans "Sign Up" %}</h1>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </header>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <div class="account-body">
      {% bootstrap_form form layout="vertical" %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
    </div>
  </form>

{% endblock %}
