{% extends "base.html" %}

{% block head_title %}{{ _("Change my password") }}{% endblock %}

{% block content %}

<form action="" method="post">{{ csrf_input }}
<div>
{% if form.errors %}
    <p class="errornote">
    {{ _("Please correct the error(s) below.") }}
    </p>
{% endif %}

<h2>{{ _('Password change') }}</h2>

<p>{{ _("Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.") }}</p>

{% with field=form.old_password %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

{% with field=form.new_password1 %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

{% with field=form.new_password2 %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

<p><button class="btn btn-info" type="submit">{{ _("Change my password") }}</button></p>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
