{% extends "base.html" %}
{% load i18n adminmedia %}

{% block head_title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h2>{% trans 'Password change' %}</h2>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

{% with field=form.old_password %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

{% with field=form.new_password1 %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

{% with field=form.new_password2 %}
<div class="field">
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

<p><button class="btn btn-info" type="submit">{% trans "Change my password" %}</button></p>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
