{% extends "base.html" %}

{% block head_title %}{{ _('Password reset') }}{% endblock %}

{% block content %}

{% if validlink %}

<h2>{{ _('Enter new password') }}</h2>

<p>{{ _("Please enter your new password twice so we can verify you typed it in correctly.") }}</p>

<form action="" method="post">{{ csrf_input }}

{% with field=form.new_password1 %}
<div class="field">
	<label for="id_new_password1">{{ _('New password:') }}</label>
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

{% with field=form.new_password2 %}
<div class="field">
	<label for="id_new_password2">{{ _('Confirm password:') }}</label>
	{{ field }}
	{{ field.errors }}
</div>
{% endwith %}

<p><button class="btn btn-info" type="submit">{{ _("Change my password") }}</button></p>
</form>

{% else %}

<h1>{{ _('Password reset unsuccessful') }}</h1>

<p>{{ _("The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.") }}</p>

{% endif %}

{% endblock %}
